fieldset:disabled {
  color: grey;
}

#renderArea {
  width: 800px;
  height: 600px;
  background-color: black;
}

#config_panel {
  height: 600px;
}

#config_params {
  height: 540px;
  overflow-y: scroll;
}

#errorText {
  font-size: 30px;
  color: white;
  font-family: courier, courier new, serif;
  text-align: center;
}

/* the canvas *must not* have any border or padding, or mouse coords will be wrong */
#canvas {
  width: 800px;
  height: 600px;
}

#loggerOutput {
  width: 99%;
  background-color: black;
  color: white;
  font-family: courier, courier new, serif;
}

#content {
  display: flex;
  margin: 0px auto;
  max-width: 1200px;

  input {
    width: 50px;
  }
}
